body {text-align: center;
}
@cell-size: 50px;
.sudoku {
  margin: 70px auto;  
  width: 478px;
  background: #777;    
  border: 2px solid #000;
  box-shadow: 15px 15px 20px #111;
}
  .sudoku-row, .sudoku-square {      
      float: left;
      border: 1px solid #000;
}
      .cell:nth-child(3n+1) {
        clear: both;
      }
      .cell {
        float: left;        
        position: relative;
        height: @cell-size;
        width: @cell-size;
        background:#fff;        
        border: 1px solid #000;
        box-sizing: content-box;        
}
        a {
          margin: 0;
          padding: 0;
        }
        a.cell-value {
          display: block;
          font-size: 30px;            
          color: #000;
          width: @cell-size;
          height: @cell-size;
          text-align: center;          
        }

p {line-height: 1.6em; 
  vertical-align: middle;}
h1 {font-size: 10em;}
h2{font-size: 4em}
p{font-size: 3em}
a{font-size: 1.5em}

p span { background-color: white; color: #008CBA;
      font-weight: bold; font-size: 1.3em;
      padding: 0.2em 1em; border: 2px dotted white; }
      
p.links { font-size: 1em; text-align: center; }

a { font-weight: bold; }
a:hover { background-color: white;color:#008CBA; }
